# Format: //devtools/kokoro/config/proto/build.proto

# Configure the docker image for kokoro-trampoline.
env_vars: {
  key: "TRAMPOLINE_IMAGE"
  value: "gcr.io/cloud-devrel-kokoro-resources/java8"
}

env_vars: {
    key: "INTEGRATION_TEST_ARGS"
    value: "-P bigtable-emulator-it,bigtable-prod-it -Dbigtable.project=gcloud-devel -Dbigtable.instance=google-cloud-bigtable -Dbigtable.table=integration-tests"
}

env_vars: {
  key: "JOB_TYPE"
  value: "integration"
}
# TODO: remove this after we've migrated all tests and scripts
env_vars: {
  key: "GCLOUD_PROJECT"
  value: "gcloud-devel"
}

env_vars: {
  key: "GOOGLE_CLOUD_PROJECT"
  value: "gcloud-devel"
}

env_vars: {
  key: "ENABLE_BUILD_COP"
  value: "true"
}

env_vars: {
  key: "GOOGLE_APPLICATION_CREDENTIALS"
  value: "secret_manager/java-it-service-account"
}

env_vars: {
  key: "SECRET_MANAGER_KEYS"
  value: "java-it-service-account"
}
