[submodule "google-cloud-testing/google-cloud-conformance-tests/conformance-tests"]
	path = google-cloud-testing/google-cloud-conformance-tests/conformance-tests
	url = git@github.com:googleapis/conformance-tests.git
