.idea
*.iml
target/
__pycache__
.project
.settings
.classpath
.DS_Store
.diff.txt
.new-list.txt
.org-list.txt
SimpleBenchmarkApp/src/main/java/com/google/cloud/App.java
.flattened-pom.xml
# Local Test files
*ITLocalTest.java