# Packages
.Python
dist
bin
var
sdist
target
eggs/
.eggs/
sdist/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

.metadata
.project
.pydevproject
*.iml
.idea
.settings
.DS_Store
.classpath

# Built documentation
docs/

# API key file containing value of GOOGLE_API_KEY for integration tests
api_key

# Python utilities
__pycache__/
*.py[cod]
*$py.class


# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# New client generation
generation/new_client/workspace

# Monorepo repository generation
monorepo/
