# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

{% if artifact_name %}
deep-remove-regex:
- "/{{ module_name }}/grpc-google-.*/src"
- "/{{ module_name }}/proto-google-.*/src"
- "/{{ module_name }}/google-.*/src"
deep-preserve-regex:
- "/{{ module_name }}/google-.*/src/test/java/com/google/cloud/.*/v.*/it/IT.*Test.java"
- "/{{ module_name }}/google-.*/src/main/resources/META-INF/native-image/*"
- "/{{ module_name }}/google-.*/src/test/resources/META-INF/native-image/*"

deep-copy-regex:
- source: "/{{ proto_path }}/(v.*)/.*-java/proto-google-.*/src"
  dest: "/owl-bot-staging/{{ module_name }}/$1/proto-{{ artifact_name }}-$1/src"
- source: "/{{ proto_path }}/(v.*)/.*-java/grpc-google-.*/src"
  dest: "/owl-bot-staging/{{ module_name }}/$1/grpc-{{ artifact_name }}-$1/src"
- source: "/{{ proto_path }}/(v.*)/.*-java/gapic-google-.*/src"
  dest: "/owl-bot-staging/{{ module_name }}/$1/{{ artifact_name }}/src"
{% endif %}
