setuptools==65.0.1

nox
requests
pyyaml
jinja2
deprecation
protobuf==3.20.2
watchdog

# some java processing requires xml handling
lxml

# Install sample-tester for generated samples
sample-tester

# flake8 is used to validate the python samples noxfile template
flake8
