# Code owners file.
# This file controls who is tagged for review for any given pull request.

# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

# The @googleapis/api-bigtable @googleapis/api-bigtable-partners is the default owner for changes in this repo
*                       @googleapis/yoshi-java @googleapis/api-bigtable @googleapis/api-bigtable-partners

# for handwritten libraries, keep codeowner_team in .repo-metadata.json as owner
**/*.java               @googleapis/api-bigtable @googleapis/api-bigtable-partners


# The java-samples-reviewers team is the default owner for samples changes
samples/**/*.java       @googleapis/java-samples-reviewers

# Generated snippets should not be owned by samples reviewers
samples/snippets/generated/       @googleapis/yoshi-java

# Admin Module (Cloud Java Team ownership)
**/com/google/cloud/bigtable/admin/** @googleapis/api-bigtable @googleapis/api-bigtable-partners @googleapis/cloud-java-team-teamsync
**/com/google/bigtable/admin/** @googleapis/api-bigtable @googleapis/api-bigtable-partners @googleapis/cloud-java-team-teamsync
