# Code owners file.
# This file controls who is tagged for review for any given pull request.

# For syntax help see:
# https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners#codeowners-syntax

*                       @googleapis/yoshi-java

# The java-samples-reviewers team is the default owner for samples changes
samples/**              @googleapis/java-samples-reviewers @googleapis/cdpe-cloudai
# When new samples are created/removed, links to samples are added/removed
# to/from README.md by owlbot.py
README.md               @googleapis/java-samples-reviewers @googleapis/cdpe-cloudai
