description = 'PROTO library for {{name}}'
group = 'com.google.api.grpc'
version = (version == 'unspecified') ? '0.0.0-SNAPSHOT' : version

compileJava.options.encoding = 'UTF-8'
javadoc.options.encoding = 'UTF-8'

dependencies {
  implementation 'com.google.protobuf:protobuf-java:{{version.com_google_protobuf}}'
  implementation '{{maven.com_google_guava_guava}}'
  implementation '{{maven.com_google_api_api_common}}'
  implementation '{{maven.com_google_api_grpc_proto_google_common_protos}}'

  // TODO: remove when dropping Java 8 support.
  // https://github.com/googleapis/gapic-generator-java/issues/888
  implementation '{{maven.javax_annotation_javax_annotation_api}}'

  {{extra_deps}}
}

sourceSets {
  main {
    resources {
      srcDir 'src/main/proto'
    }
  }
}

task javadocJar(type: Jar) {
  classifier = 'javadoc'
  from javadoc
}

task sourcesJar(type: Jar) {
  classifier = 'sources'
  from sourceSets.main.allSource
}

artifacts {
  archives javadocJar, sourcesJar
}
