# Format: //devtools/kokoro/config/proto/build.proto
env_vars: {
  key: "STAGING_BUCKET"
  value: "docs-staging"
}

env_vars: {
  key: "TRAMPOLINE_BUILD_FILE"
  value: "github/java-bigtable/.kokoro/release/publish_javadoc.sh"
}

before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 73713
      keyname: "docuploader_service_account"
    }
  }
}
