drivers/**
target-it/**
**/*logs*/**
**/ITBigQueryJDBCLocalTest.java
**/BigQueryStatementE2EBenchmark.java
.agents/

tools/**/*.class
tools/**/drivers/**
tools/**/logs/**
tools/**/*.jfr
tools/**/odbc/
tools/**/native_odbc_perf

# Gemini/Jetski agent custom skills
.agents/